<div class='container' mt-5>
  <div class='row'>
    <div class='row row-cols-sm-3'>
      <form action='/restaurants' method='POST'>
        <div><label>餐廳名稱</label>
          <input type='text' placeholder='name' name='name' required /></div>
        <div><label>餐廳英文名稱</label>
          <input
            type='text'
            placeholder='name_en'
            name='name_en'
            required
          /></div>
        <div><label>類別</label>
          <input
            type='text'
            placeholder='category'
            name='category'
            required
          /></div>
        <div><label>圖片網址</label>
          <input type='url' placeholder='image' name='image' required /></div>
        <div><label>地址</label>
          <input
            type='text'
            placeholder='location'
            name='location'
            required
          /></div>
        <div><label>電話</label>
          <input type='tel' placeholder='phone' name='phone' required /></div>
        <div><label>地圖網址</label>
          <input
            type='url'
            placeholder='google_map'
            name='google_map'
            required
          /></div>
        <div><label>評價</label>
          <input
            type='number'
            placeholder='rating'
            name='rating'
            required
          /></div>
        <div><label>描述</label>
          <textarea
            type='text'
            placeholder='description'
            name='description'
            required
          ></textarea></div>

        <button type='submit'>Create</button>
      </form>
    </div>
  </div>
</div>